# Flutter
/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE-specific
.idea/
.vscode/
*.iml
*.iws

# Build artifacts
/web/app-debug.apk

# Misc
*.log
.DS_Store
